/*  Styles for Home, Services and Pricing & Contact pages */

* {
    box-sizing: border-box;
    margin-left: 5px;
    margin-top: 5px;
}

body {
    background: rgb(171, 242, 171);
    padding-top: 40px;
}

header {
    display: flex;
    width: 100%;
    background-color:rgb(0, 70, 0);
    color: white;
}
 
#dragDiv {
    position: absolute;
    background-color: rgba(117, 57, 29, 0.808);
    color: rgb(190, 174, 174);
    z-index: 8;
    left: 30;
    bottom: 230;
    border: 2px solid #d3d3d3;
    text-align: center;
    font-weight: bolder;
}

#dragDivHeader {
    background-color: rgb(0, 70, 0);
    color: rgb(231, 231, 65); 
    z-index: 10;
    padding: 10px;
    cursor: move;
} 

.nav-link {
    color: white;
    font-size: larger;
}

footer {
    float: right;
    vertical-align: bottom;
    margin-bottom: 10px;
    margin-right: 30px;
}

.container {
    padding: 10px;
    font-size: 20px;
    height: 800px;
    max-width: auto;  
    background: rgb(231, 231, 65);  
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr 1fr;
    grid-gap: 10px;
    text-align: center;
}

#quote {
    background-color: lightskyblue;
}
#map {
    top: 0;
    bottom: 0;
    width: 90%;
  }
  
.map-overlay {
    padding: 10px;
    margin: auto;
    background: lightskyblue;
    font-family: 'Open Sans', sans-serif;
  }

form {
    font-weight: bold;
}

#company {
    color: rgb(0, 70, 0);
    font-style: italic;
    font-size: 0.5in;
}

.buttons {
    font-size: 20px;
    padding: 5px;
    border-radius: 80%;
}

#header-img {
    display: flex;
    align-self: center;
    width: 100px;
    height: 100px;
}
#form  {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.container2 {
    padding: 10px;
    font-size: 20px;
    height: 1500px;
    max-width: 100%;
    background: LightGray;
    display: grid;
    grid-template-columns: 20% 40% 40%;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 10px;
    
    grid-template-areas: 
        "content product product"
        "content product product"
        "advert content advert";
}

.item1{
    background:LightSkyBlue;
}
.item2{background:rgb(231, 231, 65);}
.item3{background:LightSkyBlue;}
.item4{background:rgb(231, 231, 65);}
.item5{background:LightSkyBlue;}
.item6{background:rgb(231, 231, 65);}
.item7{background:LightSkyBlue;}
.item8{background:rgb(231, 231, 65);}
.item9{background: lightskyblue;}

#video {
    padding: 10px;
    display: flex;
    align-self: center;
    justify-self: center;
    max-width: 95%;
}
